@import url('./auth/login/login.scss');
@import url('./shared/css/table.scss');
@import url('./shared/css/form.scss');

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

// prevent iOS font size change
html {
  -webkit-text-size-adjust: 100%;
}

div#App {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;

  aside.sidebar {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    row-gap: 1rem;
    position: fixed;

    Button.sidebar-button {
      transform: scale(1);
      transition: all .25s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    Button.sidebar-button-selected {
      background-color: var(--surface-a);
      color: var(--primary-color);
    }
  }
}

div.dashboard-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  padding: 1rem;

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;

    label {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}